tr:nth-child(even) {
    background: hsl(0, 0%, 91%);    
}

tr:nth-child(odd) {
    background: hsl(0, 0%, 95%)
}

table {
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
}

.result-list-status {
    margin: 4px;
}