tr:nth-child(even) {
    background: hsl(0, 0%, 91%);    
}

tr:nth-child(odd) {
    background: hsl(0, 0%, 95%)
}

table {
    width: 100%;    
    border-collapse: collapse;
}

.result-list {
    background: hsl(0, 0%, 91%);    
    width: 100%;
    max-width: 800px;
}

.result-list-status {    
    padding: 4px;
    margin: 0px;    
}