* {  
  margin: 0;  
}

body {
  background: hsl(0, 0%, 30%);
  background: linear-gradient(0deg, hsl(0, 0%, 10%) 0%,hsl(0, 0%, 20%) 20%, hsl(0, 0%, 30%) 100%);        
}

input {
  font-size: 16px;
}

select {
  font-size: 16px;
}

button {
  font-size: 16px;
}

a {
  color: #333;
  text-decoration: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.container {  
  position: relative;
  overflow: hidden;
  height: 100%;
}